# Dependencies
node_modules/
package-lock.json

# Playwright
test-results/
playwright-report/
blob-report/

# Reports
*.html
!02-API-Testing/newman/report.html
!03-Web-Automation/playwright-report/**

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Logs
*.log